.full-flex {
  display: "flex";
  justify-content: "center";
  align-items: "center";
}
.partners {
  /* background-color: aliceblue; */
}

.section-header {
  text-align: center;
  padding: 20px 10%;
}

.loader-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  animation: loader 1.25s infinite;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box > img {
  width: 100px;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  70% {
    rotate: 360deg;
  }
  100% {
    rotate: 0;
  }
}

.mini-contact {
  position: fixed;
  bottom: 100px;
  right: 20px;
  /* top: 5px; */
  max-width: 25%;
  background-color: white;
  padding: 50px 20px;
  z-index: 100;
  border-radius: 10px;
  margin: 20px 0;
}

.bottom-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.bottom-icon > img {
  overflow: hidden;
  border-radius: 20px;
  background-color: #ffa726;
}

.typewriter {
  height: 20px;
}
